/* #region debug */

* {
  border: 1px dashed black;
}

/* #endregion debug */

/* #region common */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* #endregion common */

/* #region header */
/* #endregion header */

/* #region main */
/* #endregion main */

/* #region footer */
/* #endregion footer */
